body {
  background-color: #113335;;
}
.App {
  display: flex;
  flex-direction: row; 
}
.sidebar {
  width: 250px; 
  height: 100vh; 
  background-color: #00000078; 
  color: white; 
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-around;
}
.icon {
  cursor: pointer; 
}

.image-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
} 


.full-screen-image {
  max-width: calc(100vw - 250px);
  max-height: 100vh;
  object-fit: contain;
}

.main-content {
  flex-grow: 1; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.timer{
  font-size: 50px;
  font-weight: bold;
  margin: 20px;
}
.timer-controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer-controls {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espace entre les boutons Play/Pause et Refresh */
  margin-top: 20px; /* Espace entre le slider et les boutons */
}


.history{
  width: 100px;
  height: 100px;
  display: block;
  margin-top: 100px;
}

.slick-track {
  margin: 0 auto; /* Centre le track si nécessaire */
}

.slick-slide {
  /* Assurez-vous que les slides ne débordent pas du conteneur .slick-list */
  width: 100%; /* ou une largeur spécifique qui convient à votre mise en page */
  height: auto; /* pour maintenir le ratio de l'image */
}

.slick-slide img {
  width: 100px;     
  height: 100px; 
  display: block;
  margin: 0;
}

.slick-list {
  /* Définissez une hauteur suffisante pour contenir les slides */
  height: auto; /* ou une hauteur fixe basée sur la hauteur de vos images */
}